@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.home {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/wp-big.jpg");
  font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
  background-size: cover;
}

.header {
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 16rem;
  border-bottom: solid 4px var(--secondary-bg-color);
}


.logo {
  flex: 0;
}

.logo * {
  width: 12rem;
  margin-left: 2rem;
  height: 12rem;
}


.linkArea {
  flex: 1;
  gap: 4rem;
  margin-right: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 66rem;
  display: flex;
  justify-content: space-evenly;
}

.linkArea * {
  color: var(--main-text-color);
  font-size: 2.6rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.linkArea *:hover {
  transition: color 0.3s;
  color: var(--secondary-bg-color)
}


.colorMode {
  width: 1.5em;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  max-width: 120rem;
}

.heroDiv {
  margin-top: 10rem;
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  gap: 1rem;
  color: var(--main-text-color)
}

.heroText {
  flex: 2;
  padding-left: 2rem;
  font-size: 2.5rem;
}

.heroImg {
  text-align: center;
  flex: 1;
  border: solid 5px;
  border-color: var(--main-bg-color);
  height: 30rem;
  margin-right: 4rem;
  border-radius: 20px;
}

.cardArea{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 80rem;
}

.headCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: var(--main-text-color);
  padding: 1em;
  background: rgb(0,0,0,0.6);
  border-radius: 40px;
}

.cardImg {
  flex: 1;
  text-align: center;
}

.cardImg Img {
  height: 5rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: var(--secondary-bg-color);;
}

.cardText {
  flex: 2;
  font-size: 2rem;
  text-align: left;
  margin-right: 2rem;
}

.footerArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0,0,0, 0.6);
  margin-top: 8rem;
  width: 100%;
}

.h2 {
  flex: 1;
  color: var(--main-text-color);
  font-size: 3em;
  margin-top: 2em;
}

.button1 {
  font-size: 5rem;
  padding: 0.5em;
  background-color: rgb(241, 128, 35);
  height: 40rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  flex: 2;
  border: none;
  border-radius: 20px;
  color: var(--main-text-color);
}

.button1:hover {
  transition: background-color 0.4s;
  background-color: rgb(253, 116, 4);
  cursor: pointer;
}

.footer {
  opacity: 0.8;
  padding-bottom: 2rem;
  flex: 1;
  height: 10rem;
  color: var(--main-text-color);
  font-size: 2rem;
  margin-top: 2em;
}


